.button-cleaning {
  background-color: rgb(89,159,211);
  color: white;
  width: 250px;
  height: 55px;
  position: absolute;
  left: 250px;
  cursor: pointer;
  border-right-color: rgb(108, 167, 212);
  border-right-style: solid;
  border-right-width: 3px;
  border-left-color: rgb(108, 167, 212);
  border-left-style: solid;
  border-left-width: 3px;
}

p {
  font-size: 17px;
  margin-top: 15px;
}

.button-cleaning:hover:active {
  background-color: rgb(129, 176, 212);
}

.button-cleaning:hover {
  background-color: rgb(112, 169, 212);
}
