<div class="hint-sticky">
  <div class="hint-style">
    <div class="hint-step-one">
      <p class="step-p">
        Шаг
      </p>
      <span matBadge="1" matBadgeSize="large" class="hint-span"></span>
      <p class="hint-p">
        Загружайте свои аудио
      </p>
    </div>
    <div class="hint-step-two">
      <p class="step-p">
        Шаг
      </p>
      <span matBadge="2" matBadgeSize="large" class="hint-span"></span>
      <p class="hint-p">
        Конвертируйте их в текст
      </p>
    </div>
    <div class="hint-step-three">
      <p class="step-p">
        Шаг
      </p>
      <span matBadge="3" matBadgeSize="large" class="hint-span"></span>
      <p class="hint-p">
        Скачивайте файлы
      </p>
    </div>
  </div>
  <mat-toolbar class="mat-toolbar footer-end-style">
    <span class="nav-tool-items">
      <a mat-button routerLink="" routerLinkActive="active">Типы конвертаций</a>
      <a mat-button routerLink="" routerLinkActive="active">Частые вопросы</a>
      <a mat-button routerLink="" routerLinkActive="active">Контакты</a>
    </span>
    <p class="info-p">wannatea © 2021 Проект разработан в рамках HackAtom</p>
  </mat-toolbar>
</div>
