.hint-sticky{
  width: 100%;
  margin-top: 26.3vh;
}

.hint-style {
  width: 100%;
  height: 300px;
  background-color: white;
}

.step-p {
  position: absolute;
  margin-left: 50px;
  font-size: 16px;
}

.hint-p {
  position: absolute;
  margin-left: 150px;
  width: 300px;
  margin-top: 1px;
  font-size: 16px;
}

.hint-span {
  position: absolute;
  margin-left: 118px;
  margin-top: 10px;
  text-align: left !important;
}

.mat-badge-content {
  background: rgb(63, 102, 138);
}

.hint-step-one {
  display: inline-block;
  position: absolute;
  margin-top: 50px;
  margin-left: 200px;
}

.hint-step-two {
  display: inline-block;
  position: absolute;
  margin-top: 120px;
  margin-left: 200px;
}

.hint-step-three {
  display: inline-block;
  position: absolute;
  margin-top: 190px;
  margin-left: 200px;
}

.footer-end-style {
  background: rgb(63, 102, 138);
  color: white;
  max-width: 100%;
}

.info-p {
  font-size: 14px;
  font-weight: lighter;
  margin-top: 13px;
  position: absolute;
  right: 15px;
  color: lightgray;
}
