.button-converter {
  background-color: rgb(89,159,211);
  color: white;
  width: 250px;
  height: 65px;
  position: absolute;
  right: 0;
  cursor: pointer;
  border-left-color: rgb(108, 167, 212);
  border-left-style: solid;
  border-left-width: 3px;
}

p {
  font-size: 20px;
  margin-top: 22px;
}

.button-converter:hover:active {
  background-color: rgb(129, 176, 212);
}

.button-converter:hover {
  background-color: rgb(112, 169, 212);
}

