.area {
  max-width: 700px;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 0 auto;
  height: 250px;
  color: dimgray;
}

.area:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.area-on{
  background: rgb(229, 232, 255);
  border: 1px solid rgb(204, 195, 188);
  box-shadow: 0 2px 3px rgba(255, 255, 255, 0.5);
}

.span-or {
  display: inline-block;
  margin: 15px;
  color: dimgray;
}
