.footer {
  background-color: rgb(89,159,211);
  color: #fff;
  max-width: 1000px;
  height: 55px;
  z-index: 100;
  /*box-shadow: 0 0 12px -2px rgba(34, 60, 80, 0.5);*/
  position:-webkit-sticky !important;
  position: sticky !important;
  bottom:0;
  margin: auto;
}



